.box{
    padding: 50px 36px;
    margin: 10% auto;
    background: #fff;
    border-radius: 16px;
    border: 1px solid rgba(24,24,24,.04);
    box-shadow: 0 0 2px 0 rgb(24 24 24 / 8%), 0 2px 4px 1px rgb(24 24 24 / 16%);
    min-height: 582px;
    max-width: 568px;
}
.image_box{
    width: 109px;
    margin-bottom: 24px;
}
img{
    display: block;
    margin: 0 auto 24px;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}
.headTitle{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    text-align: center;
    color: rgba(3,45,96,1);
    padding: 15px 0 0;
    letter-spacing: -.1px;
}
.bodyTitle{
    margin-top:8px;
    margin-bottom: 24px;
    color: rgba(11,11,11,1);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.legalterms{
    margin-bottom:24px;
    font-size: 14px;
    line-height: 20px;
    display: block;
}